In [24]:
import pandas as pd
from IPython.display import display
import plotly
import plotly.plotly as py
from plotly.graph_objs import *
plotly.tools.set_credentials_file(username='nivla', api_key='Tph1zr3csPWViJwc69Ia')
import plotly.graph_objs as go
from plotly import tools
import seaborn as sns
%matplotlib inline
import numpy as np

In [25]:
#bring in data source
data = pd.read_csv('Melbourne_housing_extra_data.csv')
data.Date = pd.to_datetime(data.Date)
#remove NULL or 0 price
data = data[data['Price']>0]

In [26]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [13]:
#data exploratory
display(data.describe())
print("\r")
print("Count of null entries")
display(data.isnull().sum())

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13525.000000,1.352500e+04,13525.000000,13525.000000,10597.000000,10597.000000,10597.000000,10582.000000,5612.000000,6475.000000,10684.000000,10684.000000,13525.000000
mean,2.888355,1.071537e+06,9.462307,3100.326433,2.841087,1.506936,1.552987,496.014742,144.104074,1962.866564,-37.809443,144.990973,7498.712976
std,0.962834,6.553000e+05,4.878650,76.965336,0.967595,0.688356,0.943551,1482.753318,138.418479,38.170383,0.069248,0.087822,4509.140213
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.551060,389.000000
25%,2.000000,6.400000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,152.000000,90.000000,1940.000000,-37.854300,144.932400,4217.000000
50%,3.000000,8.910000e+05,9.200000,3083.000000,3.000000,1.000000,1.000000,374.000000,123.000000,1970.000000,-37.802980,144.997000,6567.000000
75%,3.000000,1.321000e+06,12.100000,3146.000000,3.000000,2.000000,2.000000,633.000000,170.000000,1998.500000,-37.760100,145.049985,10331.000000
max,12.000000,8.000000e+06,47.400000,3978.000000,20.000000,8.000000,10.000000,76000.000000,6791.000000,2018.000000,-37.453100,145.526350,21650.000000

Count of null entries

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2         2928
Bathroom         2928
Car              2928
Landsize         2943
BuildingArea     7913
YearBuilt        7050
CouncilArea      2944
Lattitude        2841
Longtitude       2841
Regionname          0
Propertycount       0
dtype: int64

In [30]:
#housing price frequency
pl1 = go.Histogram(x = data.Price)
layout1 = go.Layout(title='Histogram of Melbourne Housing Prices',
                   xaxis=dict(title='Price',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
                   yaxis=dict(title='Frequency',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f'))
                 )
dt1 = [pl1]
fig1 = go.Figure(data=dt1, layout=layout1)
py.iplot(fig1, sharing='public')

In [29]:
#finding sale commission for top 10 Agent, in this instance we will assume 1.5% for each sale
data['commission'] = data.Price * 0.015
dt2 = data.groupby("SellerG").commission.sum().sort_values(ascending=False)
dt2 = dt2.nlargest(10) #top ten agent using Pandas nlargest function
pl2 = go.Bar(x=dt2.index, y=dt2.values)
layout2 = go.Layout(title='Top 10 Total Commission by Agent',
     xaxis=dict(title='Real-Estate Agent',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
     yaxis=dict(title='Total Commission (1.5%)',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f')))
dt2 = [pl2]
fig2 = go.Figure(data=dt2, layout=layout2)
py.iplot(fig2, sharing='public')

In [31]:
#finding total % commission for top 10 agent
comm = data.groupby("SellerG").commission.sum().nlargest(10).sum()
totalcomm = data.commission.sum()
print ("Percentage commission from top 10 agent: %.15f" %((comm/totalcomm)*100))

Percentage commission from top 10 agent: 63.329264088148399

In [32]:
data.Type.value_counts()

h    8681
u    3354
t    1490
Name: Type, dtype: int64

In [33]:
#pricing time series fluctuation by property Type
dth = data[data.Type == 'h'].groupby(["Date"]).Price.mean()
dth = dth.reset_index()
dtu = data[data.Type == 'u'].groupby(["Date"]).Price.mean()
dtu = dtu.reset_index()
dtt = data[data.Type == 't'].groupby(["Date"]).Price.mean()
dtt = dtt.reset_index()

plh = go.Scatter(x = dth.Date, y=dth.Price, mode="lines+markers", name='House', line= dict(color = ('rgb(215,075,124)'), width=4))
plu = go.Scatter(x = dtu.Date, y=dtu.Price, mode="lines", name='Unit', line= dict(color = ('rgb(169,200,088)'), width=2)) 
plt = go.Scatter(x = dtt.Date, y=dtt.Price, mode="lines", name='Terrace', line= dict(color = ('rgb(200,100,019)'), width=2)) 

dt3 = [plh, plu, plt]
layout3 = go.Layout(title='Min/Max/Avg Melbourne Housing Prices by Property Type',
                   xaxis=dict(title='Date Sold',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
                   yaxis=dict(title='Price',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f'))
                 )

fig3 = go.Figure(data=dt3, layout=layout3)
py.iplot(fig3, sharing='public')

In [34]:
data.Rooms.value_counts(ascending=True)

9        1
12       1
10       3
8        8
7        8
6       62
5      557
1      726
4     2479
2     3945
3     5735
Name: Rooms, dtype: int64

In [36]:
#pricing time series fluctuation by property Type
dr1 = data[data.Rooms == 1].groupby(["Date"]).Price.mean()
dr1 = dr1.reset_index()
dr2 = data[data.Rooms == 2].groupby(["Date"]).Price.mean()
dr2 = dr2.reset_index()
dr3 = data[data.Rooms == 3].groupby(["Date"]).Price.mean()
dr3 = dr3.reset_index()
dr4 = data[data.Rooms == 4].groupby(["Date"]).Price.mean()
dr4 = dr4.reset_index()

pr1 = go.Scatter(x = dr1.Date, y=dr1.Price, mode="lines", name='1BR', line= dict(color = ('rgb(120,120,0)'), width=2))
pr2 = go.Scatter(x = dr2.Date, y=dr2.Price, mode="lines", name='2BR', line= dict(color = ('rgb(199,199,0)'), width=2)) 
pr3 = go.Scatter(x = dr3.Date, y=dr3.Price, mode="lines", name='3BR', line= dict(color = ('rgb(010,010,019)'), width=2)) 
pr4 = go.Scatter(x = dr4.Date, y=dr4.Price, mode="lines", name='4BR', line= dict(color = ('rgb(200,100,019)'), width=2)) 

dt4 = [pr1, pr2, pr3, pr4]
layout4 = go.Layout(title='Average Price sold by BR',
                   xaxis=dict(title='Date Sold',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
                   yaxis=dict(title='Price',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f'))
                 )

fig4 = go.Figure(data=dt4, layout=layout4)
py.iplot(fig4, sharing='public')

In [37]:
#AVG/MAX/MIN Sale PRice
dt51 = data.groupby(["Date"]).Price.mean()
dt51 = dt51.reset_index()
dt52 = data.groupby(["Date"]).Price.max()
dt52 = dt52.reset_index()
dt53 = data.groupby(["Date"]).Price.min()
dt53 = dt53.reset_index()

pl51 = go.Scatter(x = dt51.Date, y=dt51.Price, mode="lines+markers", name='Avg', line= dict(color = ('rgb(255,165,0)'), width=4))
pl52 = go.Scatter(x = dt52.Date, y=dt52.Price, mode="lines", name='Max', line= dict(color = ('rgb(192,192,192)'), width=2)) 
pl53 = go.Scatter(x = dt53.Date, y=dt53.Price, mode="lines", name='Min', line= dict(color = ('rgb(192,192,192)'), width=2)) 

dt5 = [pl51, pl52, pl53]
layout5 = go.Layout(title='Min/Max/Avg Melbourne Housing Prices',
                   xaxis=dict(title='Date Sold',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
                   yaxis=dict(title='Price',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f'))
                 )

fig5 = go.Figure(data=dt5, layout=layout5)
py.iplot(fig5, sharing='public')

In [38]:
#distance and price correlation
#Filtering the data to only include entries with the YearBuilt field populated
data6 = data[data['YearBuilt']>0]
#First, plotting the entries based on the distance from the city center
pl6 = go.Scatter(x = data6.Distance, 
                 y = data6.Price, 
                 mode='markers',
                marker = dict(color = data6.Distance, colorscale='Jet', reversescale=True, showscale=True)
                )
layout6 = go.Layout(title='Scatter Plot of Property Price by Distance from Melbourne CBD',
                   xaxis=dict(title='Distance',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
                   yaxis=dict(title='Price',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f'))
                 )
fig6 = go.Figure(data=[pl6], layout=layout6)
py.iplot(fig6, sharing='public')

In [23]:
#plotting the entries based on the distance from the city center
pl7 = go.Scatter(x = data6.Longtitude, 
                 y = data6.Lattitude, 
                 mode='markers',
                marker = dict(color = data6.Distance, colorscale='Jet', reversescale=True, showscale=True)
                )
layout7 = go.Layout(title='Properties Sold Showing Distance from Melbourne CBD',
                   xaxis=dict(title='Longitude',titlefont=dict(family='Courier New, monospace',size=16, color='#7f7f7f')),
                   yaxis=dict(title='Latitude',titlefont=dict(family='Courier New, monospace',size=16,color='#7f7f7f'))
                 )
fig7 = go.Figure(data=[pl7], layout=layout7)
py.iplot(fig7, filename='privacy-public', sharing='public')